*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-color: red;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    background-color: rgb(110, 95, 68);
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.addPopUp{
    align-self: end;
    justify-self: end;
    padding: 20px;
}
.addBtn{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 40px;
}
.addBtn:hover{
    cursor: pointer;
}
dialog{
    margin: auto auto;
    height: 50%;
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 80%;
}
form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 15px;
    padding: 3%;
}
#lowPriority{
    margin-left: 20px;
    margin-right: 10px;
}
#highPriority{
    margin-right: 10px;
}
#submit{
    grid-area: 7 / 2 / 8 / 3;
    justify-self: end;
    width: 125px;
    height: 25px;
}
#exitForm{
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}
.content{
    background-color: rgb(65, 65, 80);
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    grid-template-rows: repeat(auto-fit,150px);
    gap: 2%;
}
.tasks{
    width: fit-content;
    height: fit-content;
    padding: 10%;
    border: 2px solid rgb(255, 0, 0);
    background-color: wheat;
}